<section>
  <table>
      <thead>
        <th>Product</th>
        <th>Unit Price</th>
        <th></th>
        <th>Quantity</th>
        <th></th>
      </thead>
    <tbody>
      <% ops.each do |op| %>
        <tr>
          <td><%= op.product.name %> <%= image_tag op.product.photo_url, class: "product-image" %></td>
          <td>$<%= '%.2f' % (op.product.price) %></td>
          <td><%= "x" %></td>
          <td><%= render partial: "quantity_form", locals: { op: op } %></td>
          <td><%= link_to "Remove", orderedproduct_path(op), method: :delete, class: "button alert" %></td>
        </tr>
      <% end %>
      <tr><td></td><td></td><td></td><td class="total">Total: </td><td class="total"><%= "$#{ops.first.order.total}" %></td></tr>
    </tbody>
  </table>
</section>
