<section>
  <h4>Billing Information</h4>
  <ul>
    <li><span class="header">Name: </span><%= order.name_on_cc %></li>
    <li><span class="header">Email Address: </span><%= order.email %></li>
    <li><span class="header">Mailing Address: </span><%= order.mailing_address %></li>
    <li><span class="header">Credit Card Number: </span>XXXX-XXXX-XXXX-<%= order.cc_num %></li>
    <li><span class="header">Credit Card Exp. Date: </span><%= order.cc_exp %></li>
  </ul>
</section>
