<%= form_for @order do |f| %>
  <%= f.label :Email_Address %>
  <%= f.text_field :email %>

  <%= f.label :Mailing_Address %>
  <%= f.text_field :mailing_address %>

  <%= f.label :Name_on_Credit_Card %>
  <%= f.text_field :name_on_cc %>

  <%= f.label :Credit_Card_Number %>
  <%= f.text_field :cc_num %>

  <%= f.label :Credit_Card_Expiration_Date %>
  <%= f.text_field :cc_exp%>

  <%= f.label :Credit_Card_CSV %>
  <%= f.text_field :cc_csv %>

  <%= f.label :Zip_Code %>
  <%= f.text_field :zip_code %>

  <%= f.hidden_field :status, value: "paid" %>

  <%= f.submit value: "Place Order", class: "button" %>

  <% end %>

  <p>Please do not enter actual credit card info.  We are not able to secure your information at this time.</p>
