<%= form_for @order do |f| %>
  <%= f.label "Email Address" %>
  <%= f.text_field :email %>

  <%= f.label "Mailing Address" %>
  <%= f.text_field :mailing_address %>

  <%= f.label "Name on Credit Card" %>
  <%= f.text_field :name_on_cc %>

  <%= f.label "Last 4 Digits of Your Credit Card" %>
  <%= f.text_field :cc_num %>

  <%= f.label "Credit Card Expiration Date" %>
  <%= f.text_field :cc_exp%>

  <%= f.label "Credit Card CSV" %>
  <%= f.text_field :cc_csv %>

  <%= f.label "Zip Code" %>
  <%= f.text_field :zip_code %>

  <%= f.hidden_field :status, value: "paid" %>

  <%= f.submit value: "Place Order", class: "button alert", data: { confirm: "Are you sure you want to charge $#{@order.total} your card for this order?" } %>

  <% end %>

  <p>***Please do not enter actual credit card info.  We are not able to secure your information at this time.***</p>
