<section>
  <table>
    <% if headers %>
      <thead>
        <th>Product</th>
        <th>Unit Price</th>
        <th></th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </thead>
    <% end %>
    <tbody>
      <% ops.each do |op| %>
        <tr>
          <td>
            <%= link_to op.product.name, product_path(op.product) %>
            <%= image_tag op.product.photo_url, class: "product-image" %>
          </td>
          <td>$<%= op.product.price %></td>
          <td><%= "x" %></td>
          <td><%= op.quantity %></td>
          <td>$<%= op.subtotal %></td>
        </tr>
      <% end %>
      <tr>
        <td></td><td></td><td></td><td class="total">Total: </td>
        <td class="total">$
          <% merchant_id = nil if headers %><%= ops.first.order.total(merchant_id) %>
        </td>
      </tr>
    </tbody>
  </table>
</section>
