
<h2>Your Current Order</h2>

<ul>
  <% @order.orderedproducts.each do |op| %>
    <li>
      <%= Product.find_by(id: op.product_id).name %>
      <%= image_tag Product.find_by(id: op.product_id).photo_url %>
      Qty: <%= op.quantity %>
      Unit Price: $<%= op.product.price %>
    </li>
  <% end %>
</ul>

<h3>Grand Total: $</h3>

<h3>Submit Billing Info and Place Your Order</h3>

<%= render partial: "form" %>

<%= link_to "Return to Cart", orderedproducts_path, class: "button" %>
