<h1>Order Fulfillment</h1>

<h5>Paid Orders (<%= @merchant_orders["paid"].count %>) |
  Shipped Orders (<%= @merchant_orders["shipped"].count %>) |
  Cancelled Orders (<%= @merchant_orders["cancelled"].count %>)</h5>

<p> Total revenue: </p>

<% @merchant_orders.each do |status, orders| %>
  <section class="row orders">
    <h3><%= status.capitalize %> Orders (<%= orders.count %>)</h3>
    <ul>
      <% orders.each do |order_id, ops| %>
        <li>
          <h5><%= link_to "Order ##{order_id}", order_path(order_id) %></h5>
          <p><%="Placed on #{Order.find_by(id: order_id).created_at.strftime("%b %e, %Y")}"%></p>

          <%= render partial: "ops_table", locals: { headers: false, ops: ops } %>

          <% if status == "paid" %>
            <%= link_to "Ship", ship_order_path(order_id), method: :patch, class: "button" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
