<h1>Order Fulfillment</h1>

<h5>Paid Orders (<%= @merchant_orders["paid"].count %>)|
  Shipped Orders |
  Cancelled Orders </h5>

<p> Total revenue: </p>

<% @merchant_orders.each do |status, orders| %>
  <section class="row orders">
    <h3><%= status.capitalize %> Orders (<%= orders.count %>)</h3>
    <ul>
      <% orders.each do |order| %>
        <li>
          <h5><%= "Order ##{order.id}" %></h5>
          <p><%="Placed on #{order.created_at.strftime("%b %e, %Y")}"%>
          <ul>
            <% order.products.each do |product| %> # need op through order
              <li>
                <%= product.name %> x
                <%= Orderedproduct.find(product_id: product.id, order_id: order.id).quantity %>
              </li>
            <% end %>
          <ul>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
