<h2>Your Order Is Complete!</h2>

<%= render partial: "ops_table", locals: { headers: true, ops: @order.orderedproducts } %>

<ul>
  <li>Name: <%= @order.name_on_cc %></li>
  <li>Email Address: <%= @order.email %></li>
  <li>Mailing Address: <%= @order.mailing_address %></li>
  <li>CC last 4 digits: <%= @order.cc_num %></li>
  <li>CC expiration date: <%= @order.cc_exp %></li>
</ul>

<p> Feeling Buyer's Remorse? </p><%= link_to "Cancel Order", cancel_order_path, data: {confirm: "Are you sure you want to cancel this item?"}, class: "button alert" %>
