<h2>Your Order Is Complete!</h2>

<ul>
  <li>Name: <%= @order.name_on_cc %></li>
  <li>Email Address: <%= @order.email %></li>
  <li>Mailing Address: <%= @order.mailing_address %></li>
  <li>CC last 4 digits: <%= @order.cc_num %></li>
  <li>CC expiration date: <%= @order.cc_exp %></li>
</ul>

<h3>Grand Total: $ <%= @order.total%></h3>
