<h1> <%= @merchant.username %>'s Plantsy Shop</h1>

<% @merchant.products.each do |product| %>
<ul>
  <li><%= link_to "#{product.name}", product_path(product.id) %></li>
  <li><%= image_tag product.photo_url %></li>
  <li><%= product.category%></li>
</ul>

<div>
  <p> <%= link_to "Update", edit_product_path(product.id) %></p>
  <p> <%= link_to "Retire", products_path(product.id), method: :destroy %></p>
  <p> <%= link_to "Update", edit_product_path(product.id) %></p>
</div>
<% end %>
