<h1> <%= link_to "List of Products", products_path %></h1>

<h5><%= link_to "Aquamarine", products_path("Aquamarine") %> |
  <%= link_to "Green", products_path("Green") %> |
  <%= link_to "Maroon", products_path("Maroon") %>
</h5>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
    </li>
  <% end %>
</ul>
