<h1><%= @product.name %></h1>


<%= image_tag(@product.photo_url, alt: "product img") %>
<p>Price: <%= @product.price %></p>
<p>Description: <%= @product.description %></p>
<p>Sold by: <%= @product.merchant.username %></p>

<%= link_to "Add to cart", add_OP_path(@product), method: :post %>
